{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container-fluid h-sm-0 h-md-100" id="home-page">
    <div class="row mobile-image h-sm-0 h-md-100">
        <div class="col-sm-1 col-md-4" id="home-image">
        </div>
        <div class="col-sm-11 col-md-8 my-auto mx-auto" id="home-title">
            <h1 class="logo-font text-black content mt-7 faded-in">
                Gallery
            </h1>
            <div>
                <h4>
                    <a href="{% url 'products' %}" class="browse-button btn btn-lg py-3 mx-auto">View the current exhibition
                        <span class="mt-10 arrow"><i class="fas fa-angle-double-right"></i></span> </a>
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}