{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid w-100 justify-content-center pb-10 mx-5">

    <!-- Header -->
    <div class="col-12 w-100">
        <div class="row  ">
            <hr>
            <h2 class="logo-font mb-4 text-full text-center">Edit Comment</h2>
            <hr>
        </div>
    </div>

    <!-- Form  -->
    <div class="row justify-content-center">
        <div class="w-100 bg-white rounded shadow-sm p-4 mb-5 comment-write">
            <h5 class="mb-4 comment-write-detail">Leave a comment</h5>
            <form method="POST" action="{% url 'edit_comment' comment.id %}" enctype="multipart/form-data">
                <div class="form-group comment-write-detail">
                    {% csrf_token %}
                    {{ form | crispy }}
                </div>
                <div class="form-group comment-write-detail">
                    <a class="btn btn-clear border rounded-0" href="{% url 'blog' %}">Cancel</a>
                    <button class="btn btn-full border text-full rounded-0" type="submit"> Submit Comment
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}

{% endblock %}