{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container hdr-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mt-5 mb-5 container-pad">
        <div class="row">
            <div class="col-12 col-md-6">
                <!-- edit a product header and message -->
                <h2 class="fw-bold mb-4 display-6">Product Management</h2>
                <h6 class="text-muted">Edit a Product</h6>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <!-- edit a product form -->
                <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-3" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <!-- edit a product buttons and cancel btns -->
                    <div class="inline-flex-pos float-end">
                        <a class="btn rounded-2 btn-outline-dark py-2" href="{% url 'products' %}">Cancel</a>
                        <button class="btn text-capitalize py-2 btn-text btn-bg-col" type="submit">Update Product</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
        // jshint esversion: 6
        $('#id_image').change(function(){
            var file = $('#id_image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}